body {
  background-image: url(/img/notebook.png);
}
.navbar-brand {
  margin-left: 570px;
  text-shadow: 1px 1px 1px #d4d4d4;
  color: #323a8f;
  font-weight: 600;
}
.nav-link,
a {
  color: black;
}

.hero {
  text-align: center;
  font-size: 46px;
  margin-top: 100px;
  font-family: "poppins";
  font-weight: 700;
}
.paragraf {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}
.btn {
  color: #323a8f;
  font-weight: 500;
  border-color: #323a8f;
}
.btn-outline-primary:hover {
  background-color: #323a8f;
  border-color: #323a8f;
}
.search-container {
  text-align: center;
}

.search-container input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #eee;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.card {
  position: absolute;
}
